* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 195, 255, 0.39),
    rgb(189, 189, 189),
    rgba(255, 166, 0, 0.288)
  );
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  font-size: 20px;
}

.nav h2 {
  font-size: 30px;
}

.nav .middle {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: 100;
}

.nav .btn button {
  margin: 0 20px;
  padding: 10px 70px;
  font-size: 20px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 10px;
}

.mid {
  display: flex;
  justify-content: center;
  height: 85%;
}

.mid img {
  height: 50rem;
  z-index: 2;
}

.mid .text {
  position: absolute;
  display: flex;
  font-weight: 100;
  z-index: 3;
}

.mid .text1 {
  top: 34%;
  width: 16%;
  left: 30%;
}

.mid .text2 {
  top: 50%;
  width: 16%;
  right: 30%;
}
.btmleft {
  display: flex;
  color: white;
  /* background-color: red; */
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 60px;
}

.first {
  position: relative;
  z-index: 3;
}

.second {
  position: relative;
  width: 70%;
  font-size: 90px;
  text-align: center;
}
.third {
  position: relative;
  text-align: center;
  z-index: 4;
}

.btmright {
  height: 40%;
  background-color: rgba(255, 255, 255, 0.445);
  position: absolute;
  top: 50%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h3 {
  text-align: center;
  font-size: 40px;
}

.content p {
  text-align: center;
  font-size: 20px;
  width: 50%;
}
