* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 400px;
  width: 300px;
  background-color: white;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card h2 {
  color: black;
  text-align: center;
  font-size: 2.5rem;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}

.card i {
  position: absolute;
  font-size: 5rem;
  transform: scale(0) rotate(-90deg);
}
