* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(27, 27, 27);
  color: white;
}

.notes {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}

.note {
  background-color: #ffffffe9;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: rgb(0, 0, 0);
}

.note-create-form {
  display: flex;
  gap: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.note-create-form input {
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  border: none;
}

.note-create-form button{

}
