* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(27, 27, 27);
}

#root {
  color: White;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  font-size: 2rem;
}

#root h1{
  font-weight: 100;
}