* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
/* 
button {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  font-size: 4rem;
  color: white;
  padding: 20px 30px;
  text-align: center;
  margin: 10px;
}

button:active {
  scale: 0.95;
} */

.card {
  width: 30%;
  background-color: white;
  overflow: hidden;
  padding: 20px;
  color: black;
  border-radius: 10px;
}

.outer {
  height: 15px;
  width: 100%;
  background-color: grey;
  border-radius: 10px;
  overflow: hidden;
}
.inner {
  width: 0%;
  height: 100%;
  background-color: green;
}

.card h2 {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.card span {
  color: royalblue;
  font-weight: 900;
}

.content {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content h3 {
  font-size: 40px;
}

.content button {
  font-size: 30px;
  padding: 10px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 10px;
}

.content button:active {
  scale: 0.95;
}

.card p {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}
