:root {
  --bg-color: #000000;
  --primary-text-color: #f4f4f4;
  --bg-btn-color: crimson;
  --card-color: #1e1e1e;
  --task-color: #333;
  --delete-btn-color: red;

  /* padding */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-btn: 15px 25px;
  --padding-del-btn: 5px 15px;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;
  /* Border Radius */
  --border-radius: 10px;

  /* size*/
  --font-size: 20px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
}

nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background-color: var(--bg-btn-color);
  padding: var(--padding-btn);
  border-radius: var(--border-radius);
  border: none;
  color: var(--primary-text-color);
  font-size: var(--font-size);
  cursor: pointer;
}

nav button:active {
  scale: 0.95;
}

section {
  flex-grow: 1;
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  gap: var(--padding-xxl);
}

section .cards {
  background-color: var(--card-color);
  flex-grow: 1;
  border-radius: var(--border-radius);
  padding: var(--padding-l);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section .cards .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-m);
}
section .cards .bottom {
  background-color: var(--task-color);
  border-radius: var(--border-radius);
  padding: var(--padding-m);
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

section .cards .bottom button {
  align-self: flex-end;
  padding: var(--padding-del-btn);
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--delete-btn-color);
  color: var(--primary-text-color);
}

section .cards .bottom button:active {
  scale: 0.95;
}
