* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: monospace;
}
html, body {
     height: 100%;
     width: 100%;
}


main{
   height: 100%;
   width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.text {
   height: 25%;
   width: 20%;
   background-color: #333;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.text h1{
   color: white;
   font-size: 4rem;
}