* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

button {
  height: 100px;
  width: 200px;
  background-color: crimson;
}

button:hover {
  background-color: orange;
  transition: all 0.5s ease-in-out;
}
