* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: rgb(0, 255, 0);
  font-size: 4rem;
  padding: 2px;
  transition: all 0.5s ;
}
