* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.elem {
  height: 20%;
  width: 50%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.elem h1 {
  font-size: 2.5rem;
  color: white;
}

.elem button {
  background-color: royalblue;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 20px;
  font-size: 30px;
}

.elem button:active {
  scale: 0.95;
}
